/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.donation-card{
    display: flex;
    width: auto ;
    padding-left: 200px;
    
    @media screen and (max-width: 768px) {
        display: block;
        padding-top:310px;
        padding-left: 27px;
    }
 }
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    /* margin-left:250px;
    margin-bottom: 100px; */
   
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    @media screen and (max-width: 768px) {
        
    /* margin-top: 500px;
    margin-left: 25px; */
      }
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
   
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
   /* transform-origin: 342px; */
    transform: rotateY(180deg);
    
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
     
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #ffffff;
    color: black;
    align-items: center;
  
   /*   box-sizing: border-box; */
     
  }
  .flip-card-front img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #FF597A;
    color: #FFE856;
  transform: rotateY(180deg); 
  /*   border: 40px solid #fff; */
      box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 40px #fff;
  }
  .donation-text{
    color: #ffffff;
    width:fit-content;
    font-size: 3rem;
    font-weight: 800;
    /* margin-top: 60px;
    margin-left: 60px; */
    padding-left: 60px;
    padding-top: 60px;
    &:hover{
        color: black;
    }
     @media screen and (max-width: 768px){
     padding-left: 18px;
     }
  }
  .donation-text1{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    max-width: 700px;
    text-align: justify;
    @media screen and (max-width: 768px) {
        max-width: 280px;
    }
  }
 
   