/* single-blog {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.image-wrapper img {
    max-width: 100%;
    height: 200px;
    border-radius: 20px;
  }
.card-wrapper {
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4); /* Adjust the alpha value to make the background more or less transparent */
/* }

.blog-meta {
    font-size: 14px;
    margin-bottom: 2px;
}

.single-blog span {
    font-size: 12px;
    color: rgb(6, 35, 88);
    display: flex;
    float: right;
    margin-top: 10px;
}

.blog-text {
    font-size: 14px;
    text-align: justify;
    color: #000000;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 40px;
}

.single-blog h2 {
    font-size: 16px;
    color: #538ac5;
    font-weight: normal;
}
.single-blog h2 a
{
    text-decoration: none;
} */ 
/* .read-more-btn
{
    background-image: linear-gradient(to right , #1c03b5,#5c8bef);
    padding: 5px;
    border-radius: 5px 12px 8px;
    line-height:20px;
    font-size:14px;
    color:#fff;
    border:none;
}
.read-more-btn:hover
{
    background-image: linear-gradient(to right,#006417,#00b128);
    text-decoration: none;
    color:#fff;

} */
/* @media screen and (max-width: 786px) {
    .trial{
        display: flex;
        flex-direction: row;
    }
} */
.single-blog {
    display: flex;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
  }
  .date-posted {
    margin-left: auto;
  }
  .image-wrapper {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: 150px;
    border-radius: 20px;
  }
  
  .content-wrapper {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .card-wrapper {
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4); 
  }
  
  .blog-meta {
    font-size: 14px;
    margin-bottom: 2px;
  }
  
  .blog-meta span {
    font-size: 12px;
    color: rgb(41, 24, 115);
    margin-top: 10px;
    font-weight: 300;
  }
  
  .blog-text {
    font-size: 14px;
    text-align: justify;
    color: #000000;
    font-weight: 150;
    margin-right: 40px;
    margin-bottom: 10px;
  }
  
  .single-blog h2 {
    font-size: 16px;
    color: #538ac5;
    font-weight: bolder;
  }
  
  .single-blog h2 a {
    text-decoration: none;
  }
  
  .read-more-btn {
    background-image: linear-gradient(to right, #1c03b5, #5c8bef);
    padding: 5px;
    border-radius: 5px 12px 8px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border: none;
  }
  
  .read-more-btn:hover {
    background-image: linear-gradient(to right, #640025, #b1005e);
    text-decoration: none;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .single-blog {
      flex-direction: row;
    }
  
    .image-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
      margin-right: 10px;
    }
  
    .blog-text {
      margin-right: 0;
      font-size: 0.5rem;
    }
  }