.category {
  margin-top: 50px;
  position: relative;
}
.category .box {
  border-radius: 0;
  text-align: center;
}
.category p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}
.category img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.category .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: rgba(255, 255, 255, 0.5);
}
.category .box {
  cursor: pointer;
  position: relative;
}
.category .overlay {
  position: absolute;
  top: 80px;
  padding: 20px;
  text-align: center;
  width: 100%;
  z-index: 2;
  color: #fff;
}
.category .overlay h4 
{
  font-weight: 700;
  color: #ffffff; 
  font-size: 20px;
  padding: 10px 16px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 8px;
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(6px);
  display: inline-block;
  max-width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease-in-out;
}
.category .overlay p {
  color: #000000;
  font-size: 15px;
  font-weight: bolder;
  padding: 15px;
}
/*---------------control-btn-------------*/
.control-btn button {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 2px;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  right: 20px;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  left: 20px;
  z-index: 99;
}
.control-btn .icon {
  font-size: 25px;
}


/*---------------control-btn-------------*/
